

<md-content layout-padding>
  <md-card>
    <md-card-title class="title">
        ALF Creation Form
    </md-card-title>
    <md-card-content>
        <form name="create-group">
            <div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Name of ALF</label>
                    <input ng-model="group.name" type="text">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Under TLF</label>
                    <input ng-model="group.tlf" type="text">
                </md-input-container>
                <md-input-container>
                    <label>ALF Corpus</label>
                    <input ng-model="group.corpus" type="number">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Number of SHGs</label>
                    <input type="number" ng-model="noOfShgs" ng-change="addMember(noOfMembers)" >
                </md-input-container>
                <div class="md-block" ng-repeat="shg in group.shgs">
                  <div>
                      <md-input-container flex-gt-sm>
                        <label>SHG Name</label>
                        <input ng-model="shg.name" type="text">
                      </md-input-container>
                      <md-input-container flex-gt-sm>
                        <label>Inital Corpus</label>
                        <input ng-model="shg.corpus" type="number">
                      </md-input-container>
                  </div>
                </div>

                <md-button class="md-raised md-primary" ng-click="createGroup(group)">Create ALF</md-button>
        </form>
    <md-card-content>

  </md-card>
</md-content>
