

<md-content layout-padding>
  <md-card>
    <md-card-title class="title">
        TLF Creation Form
    </md-card-title>
    <md-card-content>
        <form name="create-group">
            <div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Name of TLF</label>
                    <input ng-model="group.name" type="text">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>District</label>
                    <input ng-model="group.district" type="text">
                </md-input-container>
                <md-input-container>
                    <label>TLF Corpus</label>
                    <input ng-model="group.corpus" type="number">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Number of ALFs</label>
                    <input type="number" ng-model="noOfMembers" ng-change="addMember(noOfMembers)" >
                </md-input-container>
                <div class="md-block" ng-repeat="alf in group.members">
                  <div>
                      <md-input-container flex-gt-sm>
                        <label>ALF Name</label>
                        <input ng-model="alf.name" type="text">
                      </md-input-container>
                      <md-input-container flex-gt-sm>
                        <label>Inital Corpus</label>
                        <input ng-model="alf.corpus" type="number">
                      </md-input-container>
                  </div>
                </div>

                <md-button class="md-raised md-primary" ng-click="createGroup(group)">Create ALF</md-button>
        </form>
    <md-card-content>

  </md-card>
</md-content>
